body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, p, i, b {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
.bg-1 {
    background-color: #fac0e2;
    color: #000000;
}
.bg-2 {
  background-color: #b9ff80;
  color: #000000;
}
.bg-3 {
  background-color: #80ffdf;
  color: #000000;
}
.bg-4 {
  background-color: #fffd80;
  color: #000000;
}
.bg-5 {
  background-color: #d796f5;
  color: #000000;
}
.bg-6 {
  background-color: #fa6cae;
  color: #000000;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
}

/* Navigation Bar Style */
.navbar {
    margin-bottom: 0;
    background-color: #0aacac;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    height: 150px;
  }
  
  /* Add a gray color to all navbar links */
  .navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
  }
  
  /* On hover, the links will turn white */
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  
  /* The active link */
  .navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
  }
  
  /* Remove border color from the collapsible button */
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  /* Dropdown */
  .open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
  }
  
  /* Dropdown links */
  .dropdown-menu li a {
    color: #000 !important;
  }
  
  /* On hover, the dropdown links will turn red */
  .dropdown-menu li a:hover {
    background-color: red !important;
  }